
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(0%, 0%, 0%);
}

#calculator {
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 310px;
}

#input {
    display: inline-block;
    width: 310px;
    padding: 10px;
    font-size: 2.5em;
    text-align: right;
}

#input, .button {
    border: solid 1px  rgb(100%, 100%, 100%);
}

#input:focus {
    outline: none;
}

.buttons {
    position: relative;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.display-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.button {
    width: calc(310px/4);
    height: calc(310px/4);
    font-size: 2em;
    text-align: center;
    background-color: rgb(96.1%, 96.1%, 96.1%);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.danger {
    background-color: rgb(92.1%, 90.6%, 90.6%);
}

.expand-width {
    width: calc(calc(310px/4)*2);
}

.expand-height {
    height: calc(calc(310px/4)*2);
}

.move-up {
    position: absolute;
    bottom: 0;
}

.ios-position-bugfix {
    left:0;
}

.move-left {
    right: calc(310px/4);
}

#toggle-buttons {
    width: 100%;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-top: solid 5px  rgb(0%, 0%, 0%);
    background-color: rgb(96.1%, 96.1%, 96.1%);
}